<header class="header">
  <div class="topnav" id="myTopnav">
    <a href="https://www.preciobtc.com/cl" class="home"><img src="https://www.preciobtc.com/images/logo.png" class="logo" alt="PrecioBTC.com"><span>PrecioBTC</span></a>
    <div class="secciones">
      <a href="https://www.preciobtc.com/cl/bitcoin-mejores-precios">Mejores Precios</a>
      <a href="https://www.preciobtc.com/cl/bitcoin-calculadora">Calculadora</a>
      <a href="https://www.preciobtc.com/contacto">Contacto</a>
      <a href="javascript:void(0);" class="icon" ng-click="openMenu()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</header>