<footer>
  <div class="row">
    <div class="four columns copyright">
      Copyright 2018 © Precio Bitcoin.<br />
      <a href="https://www.preciobtc.com/" tooltips tooltip-template="PrecioBTC Argentina" tooltip-size="smalll" tooltip-side="bottom"><span class="flag-icon flag-icon-ar"></span></a>
    </div>
    <div class="four columns" style="text-align: center; font-size: 24px;">
      <a href="https://twitter.com/PrecioBTC_com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="four columns">
      <ul class="secciones">
        <li><a href="https://www.preciobtc.com/cl/bitcoin-mejores-precios">Mejores Precios</a></li>
        <li><a href="https://www.preciobtc.com/cl/bitcoin-calculadora">Calculadora</a></li>
        <li><a href="https://www.preciobtc.com/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</footer>