<footer>
  <div class="row">
    <div class="four columns copyright">
      Copyright 2018 © Precio Bitcoin.
    </div>
    <div class="four columns" style="text-align: center">
      <!--a href="#" tooltips tooltip-template="Próximamente más países!" tooltip-size="smalll" tooltip-side="top"><span class="flag-icon flag-icon-ar"></span></a-->
      &nbsp;
    </div>
    <div class="four columns">
      <ul class="secciones">
        <li><a href="bitcoin-mejores-precios">Mejores Precios</a></li>
        <li><a href="bitcoin-calculadora">Calculadora</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</footer>