<!DOCTYPE html>
<html ng-app="preciobtc">
  <head>
    <title>Contactate con PrecioBTC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Contacto con el equipo de Precio BTC">
    <meta name="keywords" content="Contacto, Equipo, Consultas, Preguntas, Bitcoin">
    <meta name="author" content="PrecioBTC">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="/skeleton-css/css/skeleton.css">
    <link rel="stylesheet" href="/skeleton-css/css/normalize.css">
    <link rel="stylesheet" href="/angular-tooltips/dist/angular-tooltips.min.css">
    <link rel="stylesheet" href="/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="theme-color" content="#7051BE">
    <meta name="msapplication-navbutton-color" content="#7051BE"/>

    <meta property="og:image" content="https://www.preciobtc.com/images/promos/home.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <meta property="og:title" content="Contactate con PrecioBTC" />
    <meta property="og:description" content="Contacto con el equipo de Precio BTC" />
    <meta property="og:url" content="https://www.preciobtc.com/contacto" />
    <meta property="og:type" content="website" />
    <link href="https://www.preciobtc.com/images/promos/home.png" rel="image_src" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@preciobtc">
    <meta name="twitter:creator" content="@preciobtc">
    <meta name="twitter:title" content="Contactate con PrecioBTC">
    <meta name="twitter:description" content="Contacto con el equipo de Precio BTC">
    <meta name="twitter:image" content="https://www.preciobtc.com/images/promos/home.png">

    <script type="text/javascript">
    //<![CDATA[ 
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
    </script>

  </head>
  <body ng-controller="mainController" ng-cloak>

    <div menu active='home'></div>

    <div class="container ticker">
      <div class="row">
        <div class="six columns dolar">
          <ul class="toLeft">
            <li>Dolar venta</li>
            <li class="green">{{ dolar.venta | currency:"$ ":2 }}</li>
            <li>·</li>
            <li>Dolar compra</li>
            <li class="green">{{ dolar.compra | currency:"$ ":2 }}</li>
          </ul>
        </div>
        <div class="six columns">
          <ul>
            <li><i class="fas fa-question-circle" tooltips tooltip-template="Mercados referentes" tooltip-size="smalll" tooltip-side="left"></i> Bitfinex</li>
            <li class="green">{{ bitfinex.last_price | currency:"USD ":2 }}</li>
            <li>·</li>
            <li>Bitstamp</li>
            <li class="green">{{ bitstamp.last | currency:"USD ":2 }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container two" style="padding-top: 40px;">
      <pre id="msjBox"><code></code></pre>
      <h4 style="margin-bottom: 20px;">Formulario de contacto</h4>
      <form name="contacto" method="post" action="/contacto">
        <div class="row">
          <div class="six columns" style="margin-top: 20px;">
            <label for="exampleEmailInput">Tu e-mail</label>
            <input name="email" class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput" required>
          </div>
          <div class="six columns" style="margin-top: 20px;">
            <label for="exampleRecipientInput">Razón del contacto</label>
            <select class="u-full-width" id="exampleRecipientInput" name="razon" required>
              <option value="Agregar cotizacion">Agregar cotización</option>
              <option value="Problema con cotizacion">Problema con cotización</option>
              <option value="Problema con calculadora">Problema con calculadora</option>
              <option value="Prensa">Prensa</option>
              <option value="Contacto general">Contacto general</option>
              <option value="Recomendaciones">Recomendaciones</option>
              <option value="Alagos">Alagos :)</option>
            </select>
          </div>
        </div>
        <label for="exampleMessage" style="margin-top: 20px;">Mensaje</label>
        <textarea class="u-full-width" placeholder="Querido equipo..." id="exampleMessage" name="mensaje" style="height: 101px" required></textarea>
        <input class="button-primary u-full-width send" type="submit" value="Enviar">
      </form>
    </div>

    <div pie></div>
    
    <div class="ssl">
      <script language="JavaScript" type="text/javascript">
        TrustLogo("https://www.preciobtc.com/images/comodo_secure_seal_76x26_transp.png", "CL1", "none");
      </script>
      <a href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120828562-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120828562-1');
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="/angular-scroll/angular-scroll.min.js"></script>
    <script src="/angular-socket-io/socket.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript">
      var url = new URL(window.location.href);
      var c = url.searchParams.get("success");
      var box = document.getElementById('msjBox');
      if (c !== null) {
        box.style.display = "block";
        if (c == "true") {
          box.innerHTML = "<code>El mensaje se envió correctamente! En breve el equipo de PrecioBTC.com se pondrá en contacto contigo.</code>";
        } else {
          box.innerHTML = "<code>Algo salió mal y el mensaje no se envió. Por favor intenta de nuevo.</code>";
        }
      } else {
        box.style.display = "none";
      }
    </script>

  </body>
</html>
