<!DOCTYPE html>
<html ng-app="preciobtc">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="La mejor forma de ver cómo y dónde comprar Bitcoins">
    <meta name="keywords" content="Bitcoin, BTC, comprar, vender, calculadora">
    <meta name="author" content="Precio Bitcoin">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="/skeleton-css/css/skeleton.css">
    <link rel="stylesheet" href="/skeleton-css/css/normalize.css">
    <link rel="stylesheet" href="/angular-tooltips/dist/angular-tooltips.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="theme-color" content="#1e88e5">
    <meta name="msapplication-navbutton-color" content="#1e88e5"/>

    <!--meta property="og:image" content="https://www.preciobtc.com/images/promo/share.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:title" content="Precio Bitcoin" />
    <meta property="og:description" content="La mejor forma de ver cómo y dónde comprar Bitcoins" />
    <meta property="og:url" content="https://www.preciobtc.com/" />
    <meta property="og:type" content="website" />
    <link href="https://www.preciobtc.com/images/promo/share.png" rel="image_src" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@openvino">
    <meta name="twitter:creator" content="@openvino">
    <meta name="twitter:title" content="Precio Bitcoin">
    <meta name="twitter:description" content="La mejor forma de ver cómo y dónde comprar Bitcoins">
    <meta name="twitter:image" content="https://www.preciobtc.com/images/promo/share.png"-->

    <script type="text/javascript"> //<![CDATA[ 
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
    </script>

  </head>
  <body ng-controller="mainController" ng-cloak>

    <div class="container ticker">
      <div class="row">
        <div class="six columns dolar">
          <ul style="text-align: left">
            <li>Dolar oficial venta </li>
            <li class="green">{{ dolar.venta | currency:"$ ":2 }}</li>
          </ul>
        </div>
        <div class="six columns">
          <ul>
            <li>Bitfinex</li>
            <li class="green">{{ bitfinex.last_price | currency:"USD ":2 }}</li>
            <li>·</li>
            <li>Bitstamp</li>
            <li class="green">{{ bitstamp.last | currency:"USD ":2 }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container one">
      <div class="row trans">
        <h2>Calculá el valor de tu operación de Bitcoins</h2>
        <p>Compara y elige tu Mejor Opción</p>
      </div>
      <form name="calcForm">
        <div class="row form">
          <div class="two columns">
            <label for="operacion">Operación</label>
            <select class="u-full-width" id="operacion" ng-options="operacion.name for operacion in operaciones" ng-model="selectedOperacion" ng-change="operacionChange()">
            </select>
          </div>
          <div class="two columns">
            <label for="modo">Modo <span style="font-size: 12px"><i class="fas fa-question-circle" tooltips tooltip-template="Según el modo que elijas, se habilitarán las plataformas disponibles" tooltip-size="large" tooltip-side="right"></i></span></label>
            <select class="u-full-width" id="modo" ng-options="modo.name for modo in modos" ng-model="selectedModo" ng-change="modosChange()">
            </select>
          </div>
          <div class="two columns">
            <label for="sitio">Plataforma</label>
            <select class="u-full-width" id="sitio" ng-options="sitio.name for sitio in sitios" ng-model="selectedSitio" ng-change="inputChange()">
            </select>
          </div>
          <div class="two columns">
            <div class="row">
              <div class="ten columns inputMonto">
                <label for="monto">Monto</label>
                <input class="u-full-width" type="text" placeholder="" id="monto" name="monto" ng-pattern="/^[0-9\.]*$/" required ng-model="selectedMonto" ng-change="inputChange()">
              </div>
              <div class="two columns iconMonto" style="margin-top: 42px; font-weight: bold;">
                <span ng-show="selectedOperacion.name == 'Compra'"><i class="fas fa-dollar-sign" style="font-size:23px;"></i></span>
                <span ng-show="selectedOperacion.name == 'Venta'"><i class="fab fa-bitcoin" style="font-size:23px;color: #EE8337;"></i></span>
              </div>
            </div>
          </div>
          <div class="four columns">
            <button class="button button-primary u-full-width" ng-click="buttonaAction()" ng-disabled="transShow || calcForm.monto.$error.pattern">Calcular</button>
          </div>
        </div>
      </form>
      <div id="card"></div>
      <div class="row animate-if" ng-if="transShow">
        <div class="transCard">
            <i class="btc-icon fab fa-bitcoin"></i>
            <div class="header">
              <h5>{{ selectedSitio.name }} <span style="font-size: 14px"><i class="fas fa-question-circle" tooltips tooltip-template="{{questionMsg}}" tooltip-size="large" tooltip-side="right" tooltip-smart="true"></i></span></h5>
            </div>
            <ul>
              <li ng-show="selectedOperacion.name == 'Compra'">Con {{ selectedMonto | currency }} podés comprar <strong>{{ buyInARS }} BTC</strong></li>
              <li ng-show="selectedOperacion.name == 'Venta'">Vendiendo {{ selectedMonto }} BTC obtendrás <strong>{{ sellInBTC | currency:"$":2 }}</strong></li>
            </ul>
        </div>
        <p class="msg"><i class="fas fa-bullhorn"></i> {{ transMsg }}</p>
      </div>
    </div>

    <div class="container middle">
      <h5>Mejor precio de compra</h5>
      <ul>
        <li>Transferencia Bancaria <strong>{{bestTransferencia[0].name}}</strong> <span class="green">{{bestTransferencia[0].buy | currency:"$":2}}</span></li>
        <li>Mercadopago <strong>{{bestMercadopago[0].name}}</strong> <span class="green">{{bestMercadopago[0].buy | currency:"$":2}}</span></li>
        <li>Rapipago/Pagofacil <strong>{{bestRapipago[0].name}}</strong> <span class="green">{{bestRapipago[0].buy | currency:"$":2}}</span></li>
      </ul>
    </div>

    <div class="container two">
      <div id="on-air">
        <i class="fa fa-circle"></i>
        <span class="live">En vivo</span>
      </div>
      <div class="row">
        <div class="six columns">
          <h4 style="margin:0;">Comprar 1 BTC te saldrá...</h4>

          <div class="row medios">
            <h5>Modo de compra <span class="question"><i class="fas fa-question-circle" tooltips tooltip-template="Según el modo que elijas, la tabla te mostrará qué plataforma tiene hablitada esa opción para cargar saldo" tooltip-size="large" tooltip-side="right"></i></span></h5>
            <div class="four columns" style="margin-left: 0;">
              <label class="transferencia">
                <input type="radio" ng-model="radioModoCompra" value="transferencia" ng-change="radioCompraChange()">
                <span class="label-body">Transf. Bancaria</span>
              </label>
            </div>
            <div class="four columns">
              <label class="mercadopago">
                <input type="radio" ng-model="radioModoCompra" value="mercadopago" ng-change="radioCompraChange()">
                <span class="label-body">Mercadopago</span>
              </label>
            </div>
            <div class="four columns">
              <label class="rapipago">
                <input type="radio" ng-model="radioModoCompra" value="rapipago" ng-change="radioCompraChange()">
                <span class="label-body">Rapi/Pago facil</span>
              </label>
            </div>
          </div>

          <p class="ordenado">Ordenado por mejor precio de compra</p>
          <div class="example-grid docs-example">
            <div class="row tap" ng-repeat="(key, value) in tableBuy | filter: filterCompra | orderBy: 'buy'" ng-class="{opacity1: key == 0, opacity2: key == 1, opacity3: key == 2, opacity4: key == 3, opacity5: key == 4, opacity6: key == 5, opacity7: key == 6, opacity8: key == 7, opacity9: key == 8, opacity10: key == 9 }">
              <div class="two columns"><i class="fas fa-user-tie" ng-if="value.type == 'broker'" tooltips tooltip-template="Broker" tooltip-smart="true"></i><i class="fas fa-chart-area" ng-if="value.type == 'exchange'" tooltips tooltip-template="Exchange" tooltip-smart="true"></i></div>
              <div class="four columns right">{{ value.name }}</div>
              <div class="six columns left">{{ value.buy | currency }}</div>
            </div>
          </div>
        </div>
        <div class="six columns tablaVenta">
          <h4 style="margin:0;">Vendiendo 1 BTC te darán...</h4>

          <div class="row medios">
            <h5>Modo de venta <span class="question"><i class="fas fa-question-circle" tooltips tooltip-template="Según el modo que elijas, la tabla te mostrará qué plataforma tiene hablitada esa opción para retirar saldo" tooltip-size="large" tooltip-side="right"></i></span></h5>
            <div class="four columns" style="margin-left: 0;">
              <label class="transferencia">
                <input type="radio" ng-model="radioModoVenta" value="billetera" ng-change="radioVenderChange()">
                <span class="label-body">Wallet</span>
              </label>
            </div>
            <div class="four columns">
              <label class="mercadopago">
                <input type="radio" ng-model="radioModoVenta" value="pesos" ng-change="radioVenderChange()">
                <span class="label-body">Depósito</span>
              </label>
            </div>
          </div>

          <p class="ordenado">Ordenado por mejor precio de venta</p>
          <div class="example-grid docs-example">
            <div class="row tap" ng-repeat="(key, value) in tableSell | filter: filterVenta | orderBy: '-sell'" ng-class="{opacity1: key == 0, opacity2: key == 1, opacity3: key == 2, opacity4: key == 3, opacity5: key == 4, opacity6: key == 5, opacity7: key == 6, opacity8: key == 7, opacity9: key == 8, opacity10: key == 9 }">
              <div class="two columns"><i class="fas fa-user-tie" ng-if="value.type == 'broker'" tooltips tooltip-template="Broker" tooltip-smart="true"></i><i class="fas fa-chart-area" ng-if="value.type == 'exchange'" tooltips tooltip-template="Exchange" tooltip-smart="true"></i></div>
              <div class="four columns right">{{ value.name }}</div>
              <div class="six columns left">{{ value.sell | currency }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="six columns">
          Copyright 2018 © Precio Bitcoin. Todos los derechos reservados.
        </div>
        <div class="four columns">&nbsp;</div>
        <div class="two columns"></div>
      </div>
      <div class="row ssl">
        <script language="JavaScript" type="text/javascript">
        TrustLogo("https://www.preciobtc.com/images/comodo_secure_seal_76x26_transp.png", "CL1", "none");
        </script>
        <a href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
      </div>
    </footer>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120828562-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-120828562-1');
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="/angular-scroll/angular-scroll.min.js"></script>
    <script src="/angular-socket-io/socket.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
