h1, h2, h3 {
  color: white; }
h2, h1 {
  font-size: 3.2rem; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-weight: bold;
  height: 48px;
  padding: 6px 10px;
  border-radius: 8px; }
form {
  margin: 0; }
.toRight {
  text-align: right !important; }
.toLeft {
  text-align: left !important; }
.twelveSize {
  font-size: 12px !important; }
.fourteenSize {
  font-size: 14px !important; }
.twentythreeSize {
  font-size: 23px !important; }
.violet {
  background-color: #7051BE !important; }
.marginLeftTwoP {
  margin-left: 2%; }
.container {
  max-width: 100%; }
.home {
  margin: 5px 0 0 14px; 
  padding: 0 !important; }
.logo {
  width: 40px;
  height: 40px;
  float: left; }
.topnav span {
  float: left;
  margin-top: 10px;
  margin-left: 10px; }
.topnav {
  padding: 4px 6px;
  overflow: hidden;
  background-color: #7051BE; }
.topnav .secciones {
  float: right; }
.topnav a {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px; }
.topnav a:hover {
  color: #C6B9E5; }
.active {
  color: #C6B9E5; }
.topnav .icon {
  display: none; }
.hide { 
  display: block; }
.form {
  width:290px;
  margin:0 auto;}
.inputMonto {
  width: 80%; }
.iconMonto {
  color: white;
  width: 20%;
  margin-top: 50px;
  padding-left: 10px }
header {
  height: 60px;
  /*position: fixed;
  top: 0;*/
  z-index: 10;
  width: 100%;
  max-width: 100%;
  background: #7051BE; }
.container.ticker {
  width: 100%;
  max-width: 100%;
  background: #7051BE;
  padding: 10px;
  color: #C6B9E5; }
.ticker .row {
  padding: 0 12px; }
.ticker ul {
  display: inline;
  margin: 0 auto;
  width: 100%;
  list-style-type: none;
  text-align: right;
  padding: 0; }
.ticker li {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 12px;
  margin: 0; }
.ticker li .green {
  font-size: 14px; } 
.ticker .six {
  width: 50%; }
select.mercados {
  width: 100%;
  height: 48px;
  margin-bottom: 28px;
  font-size: 16px;
  background: transparent;
  color: black;
  /*border: 2px solid black;*/
  border-radius: 12px;
  outline: 0; }
.modos {
  margin-bottom: 40px; }
.modos button {
  margin: 0 0 5px 0;
  width: 100%;
  font-size: 11px;
  padding: 0 9px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  height: 48px;
  line-height: 47px;
  background: transparent;
  color: #7051BE;
  border: 2px solid #7051BE;
  border-radius: 12px;
  opacity: 1; }
.modos button.active {
  background: #7051BE !important;
  color: white !important; }
.dolar li {
  text-align: left; }
.container.one {
  border-top: 1px solid #3E238D;
  width: 100%;
  max-width: 100%;
  background: #7051BE;
  padding: 40px 0; }
.container.one h2,
.container.one h1 {
  color: white; }
.container.one label {
  margin-top: 10px;
  color: #C6B9E5; }
.container.one .trans {
  text-align: center; }
.container.one .trans h2,
.container.one .trans h1 {
  font-weight: 600;
  margin: 0 20px; }
.container.one .trans p {
  font-size: 1.8rem;
  font-weight: 400;
  color: white; }
.container.one .button-primary {
  height: 48px; 
  line-height: 47px; 
  margin-top: 29px; 
  margin-bottom: 0; 
  background: transparent;
  border: 2px solid white;
  border-radius: 12px;
  opacity: 1; }
.container.one .button-primary:disabled {
  border: 2px solid white;
  color: #ccc !important;
  opacity: .3; }
.container.middle {
  text-align: center;
  width: 100%;
  max-width: 100%;
  background: #461893;
  padding: 20px 5px;}
.middle h5 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 0;
  font-size: 2.2rem;
  color: white; }
.middle ul {
  margin: 0 auto;
  width: 100%;
  list-style-type: none;
  padding: 0; }
.middle li {
  color: white;
  display: inline;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 12px;
  margin: 0; } 
.middle li::after {
  padding: 0 10px;
  content: "·"; }
.middle li:last-child::after {
  padding: 0;
  content: ""; }
.two h4 {
  /*border-bottom: 6px solid #794bc4;*/
  padding-bottom: 30px;
  margin: 0;
  color: black;
  font-weight: 600;}
.green {
  color: #97e27c;
  font-weight: 600;
  font-size: 14px !important;}
.container.two {
  margin-bottom: 50px; }
.tap:hover {
  opacity: 1 !important; }
.tap:hover > .columns,
.autohHover {
  background: transparent !important;
  -webkit-box-shadow: 0 0.25rem 0 0 rgba(0,0,0,1);
  box-shadow: 0 0.25rem 0 0 rgba(0,0,0,1); }
.tap:hover > .transparent {
  background: none !important; }
span.question {
  font-size: 12px !important;
  text-transform: none !important;
  letter-spacing: 0 !important; }
.example-grid .columns {
  text-align: center;
  cursor: default;
  height: 40px;
  line-height: 42px;
  margin-bottom: .75rem;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  -webkit-box-shadow: 0 0.25rem 0 0 rgba(0,0,0,.1);
  box-shadow: 0 0.25rem 0 0 rgba(0,0,0,.1); }
.example-grid .one {
  width: 4.66666666667%; }
.example-grid .two {
  width: 17.3333333333%; }
.example-grid .four {
  width: 30.6666666667%;
  margin-left: 4%; }
.example-grid .five {
  width: 39.3333333333%;
  margin-left: 4%; }
.example-grid .six {
  width: 48%;
  margin-left: 4%; }
.tablaVenta {
  margin-top: 32px; }
.transCard {
  overflow: hidden;
  position: relative;
  background: #C3B6F5;
  color: #4f0299;
  margin: 0 auto;
  margin-top: 52px;
  width: 230px;
  padding: 30px;
  cursor: default;
  border-radius: 4px;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.2);
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.2); }
.transCard strong {
  font-size: 2rem; }
.transCard .header {
  text-align: left; }
.transCard .header h5 {
  font-weight: 600;
  color: white;
  margin: 10px; }
.transCard ul {
  overflow: inherit;
  margin: 10px;
  text-transform: uppercase;
  font-size: 16px; }
.transCard .btc-icon {
  font-size: 19rem;
  position: absolute;
  right: 20px;
  opacity: .1 }
.msg {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 0;
  color: #e0e37b; }
.medios {
  margin: 30px 0; }
.medios h5 {
  color: black;
  font-size: 18px;
  padding: 5px 0;
  margin: 0;
  font-weight: 200; }
.rapipago, .transferencia, .mercadopago {
  margin: 10px 0;
  font-size: 18px; 
  cursor: pointer; }
.ordenado {
  font-style: italic;
  text-align: left;
  margin-bottom: 23px;
  font-size: 12px;
  color: grey; }
.docs-example .row {
  margin-bottom: 0; }
.fa-trophy {
  color: #F2BF4C;
  font-size: 20px;
  margin-top: 10px; }
.right {
  text-align: right !important;
  text-transform: uppercase;
  font-size: 1rem !important;
  font-weight: 600;
  padding-right: 1.5rem; }
.left {
  text-align: left !important;
  padding-left: 1rem; }
/*.opacity1 {
  opacity: 1; }
.opacity2 {
  opacity: 0.9; }
.opacity3 {
  opacity: 0.8; }
.opacity4 {
  opacity: 0.7; }
.opacity5 {
  opacity: 0.6; }
.opacity6 {
  opacity: 0.5; }
.opacity7 {
  opacity: 0.4; }
.opacity8 {
  opacity: 0.3; }
.opacity9 {
  opacity: 0.2; }
.opacity10 {
  opacity: 0.1; }*/
#on-air {
  text-align: right;
  margin: 20px 0;
}
.live {
  border-radius: 4px;
  background-color: #333;
  display: inline-block;
  color: white;
  padding: 7px 7px 4px 7px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  top: -1px;
  position: relative; }
.container.two .send,
.container.two .send:hover,
.container.two .send:link,
.container.two .send:active,
.container.two .send:visited {
  height: 48px; 
  line-height: 47px; 
  margin-top: 29px; 
  margin-bottom: 0; 
  background: transparent;
  color: #7051BE;
  border: 2px solid #7051BE;
  border-radius: 12px;
  opacity: 1; }
.fa-circle {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #97e27c; }
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s; }
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0; }
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1; }
footer {
  background: #7051BE;
  border-top: 1px solid #3E238D;
  padding: 58px 28px 0 28px;
  font-size: 1.4rem;
  color: #c7b4fa; }
footer ul {
  display: inline;
  margin: 0 auto;
  list-style-type: none;
  text-align: right;
  padding: 0; }
footer li a {
  color: #c7b4fa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 14px;
  font-weight: 600;
  margin: 0; }
footer li a:hover {
  color: #C6B9E5; }
.ssl {
  background-color: #7051BE;
  margin: 0 !important;
  height: 60px;
  text-align: center;
  margin-top: 12px; }
#comodoTL {
  padding: 0 !important; }
.ssl a,
.ssl a:hover {
  color: white;
  text-decoration: none; }
footer .copyright {
  text-align: center; }
footer .secciones li {
  text-align: center; }
pre code {
 font-family:'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
#header-banner-wrapper,
#left-banner-wrapper,
#right-banner-wrapper,
#footer-banner-wrapper {
  display: none; }
@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 90%; }
  h2, h1 {
    font-size: 5.2rem; }
  #left-banner-wrapper,
  #right-banner-wrapper {
    display: none; }
  .topnav {
    padding: 4px 59px; }
  .hide {
    display: none !important; }
  .ticker .row {
    padding: 0 65px; }
  .ticker ul {
    display: block; }
  .ticker li {
    display: inline; }
  .ticker .six {
    width: 48%; } 
  .example-grid .two {
    width: 13.3333333333%; }
  .form {
    width: 625px; }
  .inputMonto {
    width: 100%; }
  .iconMonto {
    margin-top: 42px;
    font-weight: bold;
    width: 100%;
    padding-left: 0; }
  .container.one .trans p {
    font-size: 2.5rem;
    font-weight: 600;
    color: white; }
  .columns.tabla {
    width: 69.3333333333%; }
  .example-grid .column,
  .example-grid .columns {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .transCard {
    width: 424px; }
  .container.one label {
    margin-top: 0; }
  .container.one {
    padding: 88px 0; }
  .tablaVenta {
    margin-top: 0; }
  .rapipago, .transferencia, .mercadopago {
    font-size: 13px; }
  .middle h5 {
    font-size: 2.4rem; }
  select.mercados {
    height: 38px;
    font-size: 14px;
    margin-bottom: 0;
    width: auto; }
  footer {
    padding: 58px 73px 0 73px;}
  footer .copyright {
    text-align: left; }
  footer .secciones li {
    text-align: right; }
  .modos button {
    width: auto;
    margin: 0; }
  .ordenado {
    font-style: italic;
    text-align: right; }
}
@media (min-width: 1000px) {
  .form {
    width:999px;}
}
@media screen and (max-width: 600px) {
  .topnav .secciones a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive .secciones {
    padding-top: 45px; 
    position: relative; }
  .topnav.responsive .secciones .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive .secciones a {
    float: none;
    display: block;
    text-align: right; }
}
